@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
#header4-e P {
  color: #f97352;
}
#menu-s .mbr-brand__name {
  font-size: 16px;
}
#menu-s.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-s .mbr-navbar__hamburger {
  color: #000000;
}
#header2-h P {
  font-size: 14px;
  color: #000000;
}
#menu-s .mbr-brand__name {
  font-size: 16px;
}
#menu-s.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-s .mbr-navbar__hamburger {
  color: #000000;
}
#ext_menu-o .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-o.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-o .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-o .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-s .mbr-brand__name {
  font-size: 16px;
}
#menu-s.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-s .mbr-navbar__hamburger {
  color: #000000;
}


#slider-9 .btn {
  font-size: 18px;
  font-family: 'Oxygen', sans-serif;
}
#slider-9 P {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #efefef;
}
#slider-9 H1 {
  text-align: center;
}
#menu-s .mbr-brand__name {
  font-size: 16px;
}
#menu-s.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-s .mbr-navbar__hamburger {
  color: #000000;
}
#menu-u .mbr-brand__name {
  font-size: 16px;
}
#menu-u.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-u .mbr-navbar__hamburger {
  color: #000000;
}
#menu-u .mbr-brand__name {
  font-size: 16px;
}
#menu-u.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-u .mbr-navbar__hamburger {
  color: #000000;
}
